/* -------------RESET CSS----------- */
:root {
	--main-font: 'Poppins', sans-serif;
	--font-size: '16px';
	--black-color: #222;
	--black-modal-color: rgba(34, 34, 34, 0.75);
	--main-color: #f9ed69;
	--main-modal-color: rgba(249, 237, 105, 0.75);
	--second-color: #f08a5d;
	--second-modal-color: rgba(240, 137, 93, 0.75);
	--third-color: #b83b5e;
	--fourth-color: #6a2c70;
}
html {
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

body {
	margin: 0;
}
/* HEADERR */
.header {
	position: sticky;
	top: 0;
	padding: 1rem;
	background-color: var(--main-color);
	text-align: center;
}
.header__title {
	margin: 0;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	color: var(--black-color);
	cursor: default;
	font-weight: bold;
}
/* HEADER-UNDERLINE OF TITLE */
.title-sub {
	position: relative;
}

/* SECTION */
.section {
	height: 550px;
	text-align: center;
	padding: 5rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section:nth-child(even) {
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.section:nth-child(odd) {
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
/* MENU-BTN HAMBURGER LIBRARY */
.panel-btn,
.toTheSky,
.theDarkSide-btn {
	position: fixed;
	z-index: 200;
	bottom: 1vh;
	right: 1vw;
	background-color: var(--main-color);
	border-radius: 50%;
	/* no estaba muy centrado */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	padding: 0.9375rem 17px 15px 13px;
	outline: none;
	cursor: pointer;
}
/* PANEL->CONTAINER OF THE MENU THAT CAN WE SEE WITH THE .panel-btn */
.panel {
	background-color: var(--second-color);
	position: fixed;
	/* para que tape toda la pantalla */
	width: 100%;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	transition: transform 0.3s ease;
	transform: translate(-100%, 0);
}
.panel.active {
	transform: translate(0, 0);
}
.menu {
	width: 100%;
	text-align: center;
	padding-left: 0;
	margin: 0;
}
.menu__item {
	list-style: none;
	width: 100%;
}
.menu__a {
	padding: 1rem;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--black-color);
	transition: all 0.1s ease-in-out;
}
.container {
	background-color: var(--third-color);
	height: 465px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* SECTION 1 */
.clock {
	font-size: 2rem;
	display: inline-block;
	margin-bottom: 0.625rem;
	background-color: var(--black-modal-color);
	color: #fff;
}
/* SECTION 5 */

.sun__title {
	margin: 0;
}
.sun__map {
	background: url('../assets/img/space.png');
	height: 300px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.sun__ball {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--main-color);
}
/* SCROLL BUTTON */
.toTheSky {
	right: calc(4rem + 1.25rem);
	transition: all 0.4;
	font-size: 32px;
	border-color: var(--black-color);
	visibility: hidden;
	opacity: 0;
	padding: 0;
	transition: opacity 0.3s, visibility 0.3s;
}
.toTheSky.active {
	visibility: visible;
	opacity: 1;
}

/* DARK THEME */
.theDarkSide-btn {
	left: 1vh;
	border-color: var(--black-color);
	padding: 0;
	font-size: 32px;
}

.dark-mode header {
	background-color: var(--black-color);
}
.dark-mode header h1 {
	color: #fff;
}

.dark-mode .section {
	background-image: url('../assets/img/space.png');
}
.dark-mode .section .container {
	background: var(--black-modal-color);
	color: #fff;
}
.dark-mode button.theDarkSide-btn,
.dark-mode button.toTheSky,
.dark-mode .panel-btn {
	background-color: var(--third-color);
	border-color: #fff;
}
/* Responsive que no come todo el internet si estas en celu(?) */
.section-3 .container {
	height: 500px;
}
div#youtube iframe {
	width: 20%;
	height: 100%;
}
div#twitter {
	margin: 0 auto;
	width: 30%;
}
/* Ejercicio 7-> connection to internet */
.online,
.offline {
	background-color: rgb(27, 133, 27);
	color: #fff;
	margin: 0;
	padding: 1.5rem;
	text-align: center;
	font-size: 24px;
	position: fixed;
	z-index: 300;
	top: 0;
	width: 100%;
	font-weight: bold;
}
.offline {
	background-color: red;
}
/* EXercise 8-> dec}tection webcam */
.container-7 {
	background-color: red;
	display: block;
}
@media screen and (min-width: 1024px) {
	.header__title:hover {
		color: var(--black-modal-color);
	}
	.title-sub::before {
		content: '';
		display: block;
		width: 0;
		height: 3px;
		background-color: #fff;
		bottom: 0;
		position: absolute;
		transition: all 0.3s;
	}
	.title-sub:hover::before {
		width: 100%;
		left: 0;
	}
	.title-sub::before {
		left: 50%;
	}
	.menu__a:hover {
		font-weight: bold;
		color: var(--main-color);
		background-color: var(--third-color);
	}
	.toTheSky.active:hover,
	.theDarkSide-btn:hover {
		opacity: 0.7;
	}
	.dark-mode header h1:hover {
		color: var(--third-color);
	}
}
@media screen and (max-width: 965px) {
	.header__title {
		width: 30%;
	}
}
/* my cellphone */
@media screen and (max-width: 675px) {
	.header__title {
		width: 50%;
	}
	.sun__map {
		width: 100%;
	}
}
@media screen and (max-width: 415px) {
	.form-clock {
		width: 50%;
		margin: 0 auto;
	}
	div#twitter,
	div#youtube {
		width: 100%;
	}
	div#twitter a,
	div#youtube a {
		color: #fff;
	}
	.dark-mode .sun__map {
		border: dashed var(--fourth-color) 5px;
	}
}
